parameters:
    level: 4
    paths:
        - auth
        - dashboard
        - bootstrap.php
        - csrf.php
        - db.php
        - gallery.php
        - head.php
        - header.php
        - index.php
        - login.php
        - logout.php
        - validation_alert.php
    earlyTerminatingFunctionCalls:
        - paket_redirect
        - maintenance_redirect
    treatPhpDocTypesAsCertain: false
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - '#Variable \$.+ might not be defined\.#'
        - '#Offset .*userId.* on left side of \?\? always exists and is not nullable\.#'
        - '#Match expression does not handle remaining value: mixed#'
        - '#Call to function in_array\(\) with arguments.*Sudah Diambil.*will always evaluate to true\.#'
